.m-publish-box-face{
    .u-price{
        .ml(20px);
    }
    .u-close-icon {
        margin-left: 10px;
        font-size: larger;
        cursor: pointer;
        &:hover {
            color: #ff0000;
        }
    }

    .u-tips {
        margin-bottom: 10px;
    }


    .u-warning{
        display: inline-flex;
        padding: 5px 0;
        // background: #fba524;
        border-radius: 4px;
        line-height: 20px !important;

        .el-checkbox__label{
            color: #c00 !important;
            font-size: 12px !important;
        }
    }
    .u-attachment{
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        .pr;

        b{
            color:@color-link;
        }
        .u-attachment-text{
            min-width: 200px;
        }
        .u-attachment-key {
            min-width: 400px;
        }
        .u-attachment-remark {
            margin-right: 10px;
        }
        .u-btn {
            .none;
        }

        &:hover {
            .u-btn {
                .db;
            }
        }

        .u-main {
        }
    }
}
