.m-publish-post {
    .u-source-id {
        .w(100%);
    }

    .u-level {
        margin-top: 10px;
    }
}

.m-selector-item {
    .u-icon {
        .w(16px);
        .mr(8px);
        vertical-align: middle;
    }

    .u-name {
        vertical-align: middle;
    }
}
