.m-publish-wiki-header {
    font-weight: 300;
    margin: 20px 0;
}

.m-publish-source{

    .u-current-source{
        .mt(10px);
    }

    .u-create-source{
        .mt(10px);
        display: flex;

        .u-source-name {
            flex: 2;
            .ml(10px);
        }
    }

    .u-source-add-tip{
        font-size: 12px;
        color: #aaaaaa;
    }
}

.m-publish-tags {
    .el-tag {
        .mr(10px);
    }
}

.u-source-id {
    .w(100%);
    .mt(16px);
}

.u-source-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .mt(16px);
}

.u-source-type {
    .w(20%);
}



.u-option {
    .u-type {
        .mr(8px);
        background-color: #e6f0fb;
        .fz(12px);
        padding: 2px 5px;
    }

    .u-name {
        .fz(12px);
    }
}

.m-publish-knowledge {
    .mt(-15px);
    .mb(-15px);
}
