#app{
    background-color:@bg-black;
}
.p-topic-container{
    margin-top :@header-height;
    min-height: calc(100vh - @header-height - 78px);
}

.p-topic-footer{
    padding:30px 20px;
    box-sizing: border-box;
    margin:0 auto;
    a:hover{
        .color(#0cf);
        box-shadow: none;
    }
    .r(0);
}
