.m-main {
    .u-title {
        color:@color;
        letter-spacing:0.5px;
        font-weight:300;
        .fz(16px);
    }
}

.m-footer{
    .u-login{
        .fl;
    }
    .u-register{
        .fr;
    }
}