.m-main{
    .u-terms{
        padding:5px 0;
        .mb(10px);
        .el-checkbox__label{
            .fz(12px);
        }
        a{
            color:@color-link;
            font-weight: normal;
            &:hover{
                text-decoration: underline;
            }
        }

        .el-checkbox__input.is-checked + .el-checkbox__label{
            color:@color;
        }
    }
}

.m-footer{
    .u-login{
        .fl;
    }
    .u-resetpwd{
        .fr;
    }
}