body {
    background-color: #232323;
}
.m-bashufengyun {
    .pt(64px);
    .flex;
    align-items: center;
    overflow: hidden;
    .fullPageContainer {
        .full;
    }
}

.m-carousel {
    .full;
    .u-item,
    .m-slider {
        .pr;
        .full;
        .flex;
        .z(1);
        align-items: center;
        justify-content: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        .u-bg {
            .full;
            .pa;
            .lt(0);
        }
        .u-link {
            .db;
            .pr;
            .full;
            .flex;
            align-items: center;
            .u-img,
            .u-bg {
                .pa;
                .z(-1);
            }
        }
    }
    .m-slider {
        .slider-btn {
            outline: none;
            .lt(50%,0);
            background: none;
            &:hover .slider-icon {
                border-color: #a71502;
            }
            .slider-icon {
                .size(30px);
                border-left: 6px solid rgba(167, 21, 2, 0.8);
                border-bottom: 6px solid rgba(167, 21, 2, 0.8);
                transition: border 0.2s;
            }
            &.slider-btn-left {
                .ml(-38%);
            }
            &.slider-btn-right {
                .ml(35%);
            }
        }
    }
    .u-one {
        height: 1066px;
        background-image: url("@{kv_bashufengyun}home_01_bg.png");
        .u-fire {
            .pa;
            .rb(0);
        }
    }
    .u-two {
        background-image: url("@{kv_bashufengyun}home_02_bg.png");
        .u-people {
            .pa;
            .lb(50%,0);
            .z(-2);
            .ml(-896px);
        }
        .u-txt {
            .pa;
            .lt(0,-140px);
            .z(-1);
        }
        .u-video {
            .size(1000px,600px);
            box-sizing: border-box;
            iframe,
            video {
                .size(100%);
            }
        }
        .u-img {
            .mb(220px);
        }
        .u-icon {
            .pa;
            .z(3);
            .lb(50%,240px);
            .w(220px);
            .flex;
            .ml(-130px);
            align-items: center;
            justify-content: space-between;
            img {
                .size(68px);
                cursor: pointer;
                transition: 0.2s ease;
                &:hover {
                    transform: scale(1.25);
                }
            }
        }
    }
    .u-three {
        background-image: url("@{kv_bashufengyun}home_03_bg.png");
        .u-all {
            .pr;
            .full;
            .flex;
            align-items: center;
            .u-txt {
                .pa;
                .lt(50%);
                margin: -135px 0 0 -475px;
            }
            .u-num {
                .pa;
                .lt(0);
                .z(-2);
            }
            .u-img {
                height: 100%;
            }
        }
        .u-people {
            .pa;
            .lt(50%);
            .z(-1);
            &.u-people-2 {
                margin: -400px 0 0 -648px;
            }
            &.u-people-3 {
                margin: -328px 0 0 -618px;
            }
            &.u-people-4 {
                margin: -308px 0 0 -618px;
            }
            &.u-people-5 {
                margin: -328px 0 0 -568px;
            }
        }
    }
    .u-four {
        background-image: url("@{kv_bashufengyun}home_04_bg.png");
        .u-icon {
            .pa;
            .z(3);
            .lb(50%,160px);
            .w(460px);
            .flex;
            .ml(-230px);
            align-items: center;
            justify-content: space-between;
            span {
                color: #fff;
                .fz(28px);
                cursor: pointer;
                transition: 0.2s ease;
                &:hover {
                    transform: scale(1.15);
                }
            }
        }
        img {
            &:first-child {
                .mb(160px);
            }
        }
    }
    .u-five {
        background-image: url("@{kv_bashufengyun}home_05_bg.png");
        .u-txt {
            .pa;
            top: 0;
        }
    }
    .u-six {
        background-image: url("@{kv_bashufengyun}home_06_bg.png");
        .m-slider {
            .size(1100px,440px) !important;
            background-color: #232323;
            .r(10px);
            .slider-btn {
                &.slider-btn-left {
                    .ml(-45%);
                }
                &.slider-btn-right {
                    .ml(42%);
                }
            }
        }
    }
}

@media screen and (orientation: portrait) {
    html {
        .full;
        overflow: hidden;
    }
    body {
        .full;
        overflow: hidden;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    a:focus,
    input:focus,
    p:focus,
    div:focus {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-modify: read-write-plaintext-only;
    }
    .m-bashufengyun {
        .pt(0);
        .u-two .u-video,
        .u-six .m-slider {
            .size(80%);
        }
        .u-two .u-img {
            margin: 0 0 100px 200px;
        }
    }
    .p-topic {
        .full;
        .pr;
        #box {
            .pa;
            .lt(0);
        }
        .c-header,
        .p-topic-footer {
            .none;
        }
    }
}
