.c-sidebar-left {
    top: @header-height;
}
.m-exam-submit {
    .size(100%, 40px);
    .lh(40px);
    .auto(x);
    .x;
    .mt(40px);

    .u-btn {
        .pointer;
        .full;
        .r(5px);
        .color(#fff);
        background-color: #53b27f;
        border-color: #53b27f;
        border: 0;
    }
    &.isSubmitted .u-btn {
        background-color: #999;
        border-color: #fff;
        border: 1px solid #888;
        &:hover {
            color: #fff;
        }
    }
}
.v-question-single {
    .m-exam-submit {
        .w(232px);
    }
}

.m-exam-mark {
    .full;
    .pa;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.m-thx {
    .mt(40px);
}
.m-exam-pagination {
    .x;
    background-color: #fff;
    padding: 30px 20px;
}

.m-back {
    position: fixed;
    background-color: #f3f5f6;
    padding: 20px 0;
    top: 64px;
    width: calc(100% - 140px);
    z-index: 4;
    .flex;
    justify-content: space-between;
    align-items: center;
    button {
        width: 100px;
        height: 40px;
        .lh(40px);
        font-weight: 400;
        padding: 0;
        border: none;
        border-radius: 30px;
        &:focus,
        &:hover {
            color: @examColor;
            background-color: rgba(@examColor, 0.1);
        }
    }
    a {
        i {
            margin-right: 5px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
.is-closed {
    .m-back {
        width: calc(100% - 80px);
    }
}
.is-opened {
    .m-back {
        width: calc(100% - 260px);
    }
}
@media screen and (max-width: @phone) {
    .is-closed .m-back {
        width: calc(100% - 40px);
    }
    .m-back {
        width: calc(100% - 100px);
    }
    .is-opened .m-back .u-edit {
        .none;
    }
}
.v-paper-single,
.v-question-single { 
    .u-title {
        padding-top: 20px;
        font-weight: 700;
        font-size: 28px;
        line-height: 37px;
        color: #000000;
    }
}

.m-single-comment {
    background-color: #fff;
    .mt(20px);
    padding: 20px 30px;
    .r(10px);
}
