.m-question-list {
    padding:20px;
    background-color:#fff;
    .m-list {
        .fz(14px);
        .u-title {
            min-width: 200rpx;
            .break(2);
        }
        .el-table__row {
            .el-table__cell .cell {
                padding: 0 5px;
            }
            .el-table__cell .cell {
                padding-left: 10px;
            }
        }
        .u-client {
            font-style: normal;
            font-size: 12px;
            padding: 2px 5px;
            border-radius: 3px;
            margin-right: 5px;
        }
        .u-tags {
            .flex;
            width: 100%;
            overflow: hidden;
        }

        .el-rate__icon {
            margin: 0;
        }
    }
    .u-tag {
        .mr(5px);

        &:last-child {
            .mr(0);
        }
    }
}
