.c-map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .u-map__wrapper {
        overflow: hidden;
        position: relative;
    }

    .u-map__inner {
        display: inline-block;
        position: absolute;
        border: 1px solid rgb(238, 238, 238);
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 3px;
        box-sizing: border-box;
        user-select: none;
        height: 100%;
    }

    .u-map-img {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .u-map-title__wrapper {
        z-index: 2;
        position: absolute;

        top: 16px;
        width: 100%;
        display: flex;
        justify-content: center;

        .u-map-title {
            user-select: text;
            color: #efe;
            font-weight: bold;
            padding: 6px;
            background: rgba(0, 0, 0, 0.5);
        }
    }

    .u-map-point__wrapper {
        z-index: 3;
        position: absolute;

        .u-map-point {
            display: block;
            width: 10px;
            height: 10px;
            background: #f94343;
            border: #efe solid 1px;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            &:hover {
                transform: scale(1.6);
            }
        }
    }
}

.u-map-point__popover {
    .u-map-title {
        font-weight: bold;
        color: #aaa;
    }
}
