.c-midAutumn-introduce {
    // .flex;
    .h(100%);
    // align-items: center;
    color: #fff;
    .fz(14px,21px);
    .bold(400);
    .u-tips {
        position: fixed;
        left: -73px;
        bottom: -144px;
        .fz(256px,284px);
        .bold(400);
        color: rgba(255, 255, 255, 0.5);
        z-index: 0;
    }
}
