body{
    min-width: 1544px;
}
.v-birthday{
    background-color:@bg-black;
}
.v-birthday .c-breadcrumb{
    .none;
}
.m-birthday {
    // background: url("@{birthday}preview.png") no-repeat center top;
    // padding: 162px;
    .mt(@header-height);
    min-width: 1520px;
    min-height: 839px;
    .pr;
    overflow: hidden;
}
.m-birthday-video{
    width: 100%;
    height: calc(100vh + 40px);
    
    .pr;
    .u-video{
        .size(100%);
        object-fit: cover;
    }
    .u-mask{
        background-color:rgba(0,0,0,.62);
        .pa;.lt(0);
        .size(100%);
    }
}

.m-letter {
    .pa;.lt(50%,50%);
    transform: translate(-50%,-50%);
    background: url("@{birthday}letter.png") no-repeat center top;
    width: 1544px;
    height: 839px;
    margin: 0 auto;

    .u-head {
        height: 300px;
        .u-atv,
        .u-atv .i-atv {
            height: 140px;
            width: 140px;
        }
        .u-atv {
            float: right;
            margin-right: 183px;
            margin-top: 104px;
            position: relative;
            text-align: center;
            .i-stamp {
                position: absolute;
                background: url("@{birthday}stamp.png") no-repeat;
                left: -88px;
                top: 66px;
                width: 272px;
                height: 146px;
            }
        }
        
    }

    .u-zip {
        color: #24292e;
        font-size: 40px;
        letter-spacing: 33px;
        float: left;
        margin-left: 172px;
        margin-top: 100px;
    }

    .u-cont {
        .u-title {
            color: #24292e;
            font-size: 58px;
            text-align: center;
            margin-bottom: 22px;
            b {
                padding: 0 30px;
            }
        }
        .u-age {
            width: 700px;
            margin: 0 auto;
            span {
                background: url("@{birthday}txt.png") right no-repeat;
                color: #682b1c;
                font-size: 98px;
                font-weight: bold;
                height: 96px;
                line-height: 96px;
                padding-right: 580px;
                display: inline-block;
                text-shadow: 0 0 5px  #c1664c;
            }
        }
    }

    .u-circle{
        .pa;.rt(-80px,65px);
        .size(1830px,945px);
        max-width: none;
    }
    .u-light{
        .pa;.rt(20px,330px);
    }
}

.c-footer{
    background-color:@bg-black;
    margin:0;
    padding:20px 10px;
    .r(0);
}