@pvx_img: "https://img.jx3box.com/image/pvx/";
@pet_root: "https://img.jx3box.com/pet/";
@game_icons: "https://img.jx3box.com/image/game/";
@img_path: "https://img.jx3box.com/";

@border-active: #39d45d;
@color-cyan: #17e0c2;
@color-gray: #586069;
@active-color: #d16400;

.u-msg-yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.u-quality--0 {
    color: #999;
}
.u-quality--1 {
    color: @color;
}
.u-quality--2 {
    color: #00d24b;
}
.u-quality--3 {
    color: #007eff;
}
.u-quality--4 {
    color: #ff2dff;
}
.u-quality--5 {
    color: #ffa500;
}
.u-quality--6 {
    color: #c00;
}
.u-quality-bg--0 {
    .u-image {
        border: 1px solid #999;
    }
}
.u-quality-bg--1 {
    .u-image {
        border: 1px solid #fff;
    }
}
.u-quality-bg--2 {
    .u-image {
        border: 1px solid #00d24b;
    }
}
.u-quality-bg--3 {
    .u-image {
        border: 1px solid #007eff;
    }
}
.u-quality-bg--4 {
    .u-image {
        border: 1px solid #ff2dff;
    }
}
.u-quality-bg--5 {
    .u-image {
        border: 1px solid #ffa500;
    }
}
.u-quality-bg--6 {
    .u-image {
        border: 1px solid #c00;
    }
}

.scrollbar(@w:2px,@color:#0003,@bgc:hsla(0, 0%, 87%, 0.2)) {
    &::-webkit-scrollbar {
        width: @w;
        height: @w;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: @bgc;
        border-radius: 6px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        background-color: @color;
        border-radius: 6px;
        transition: all 0.2s ease-in-out;
    }
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
        display: none;
    }
}

@faceColor: #6b52ff;
@homelandColor: #6b52ff;
@petColor: #d16400;
@priceColor: #53b27f;
@examColor: #07ad36;
@furnitureColor:#D16400;
@activeColor: #ff9a00;

@openedWidth: 136px;
@regularWidth: 70px;

@default: #2682ea;
@green: #62d3b0;
@orange: #f49e40;
@red: #ed4948;
@purple: #9262d3;
@tm: #2682ea00;
