.m-server {
    .mb(40px);
    .u-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        color: #24292e;
        margin: 0;
        margin-block: 0;
        margin-bottom: 20px;
    }
    .m-zone-list {
        margin-top: 40px;
    }
    .m-server-list {
        .flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .m-server-item {
        .pr;
        .flex;
        flex-direction: column;
        flex: none;
        gap: 13px;
        .size(298px, 150px);
        .r(10px);
        padding: 28px 20px;
        box-sizing: border-box;
        background: #838383;
        .u-server-title {
            .flex;
            gap: 13px;
        }
        .u-name {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #ffffff;
        }
        .u-status {
            width: 77px;
            height: 29px;
            background: #ffffff;
            border-radius: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            color: #838383;
            text-align: center;
        }
        .u-server-ip,
        .u-server-time {
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #ffffff;
        }
        .u-server-fav {
            .pa;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            background: #ffffff;
            border-radius: 0px 9px 0px 10px;
            .flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &.is-saved {
                background-color: rgba(#ffffff, 0.8);
            }
        }
        &.is-open {
            background-color: @priceColor;
            .u-status {
                color: @priceColor;
            }
        }
        &.is-busy {
            background-color: #af733b;
            .u-status {
                color: #af733b;
            }
        }
        &.is-full-load {
            background-color: #f56c6c;
            .u-status {
                color: #f56c6c;
            }
        }
    }
    @media screen and (max-width: @phone) {
        .m-server-list {
            justify-content: center;
        }
        .m-server-item {
            width: 100%;
        }
    }
}
/* Icon Push */
@-webkit-keyframes hvr-icon-push {
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@keyframes hvr-icon-push {
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}
.hvr-icon-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-push .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-push:hover .hvr-icon,
.hvr-icon-push:focus .hvr-icon,
.hvr-icon-push:active .hvr-icon {
    -webkit-animation-name: hvr-icon-push;
    animation-name: hvr-icon-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow {
    &:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: "";
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        /* W3C */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
    }
    &.is-close {
        &:before {
            background: -webkit-radial-gradient(center, ellipse, rgba(#838383, 0.35) 0%, rgba(#838383, 0) 80%);
            background: radial-gradient(ellipse at center, rgba(#838383, 0.35) 0%, rgba(#838383, 0) 80%);
        }
    }
    &.is-open {
        &:before {
            background: -webkit-radial-gradient(center, ellipse, rgba(@priceColor, 0.35) 0%, rgba(@priceColor, 0) 80%);
            background: radial-gradient(ellipse at center, rgba(@priceColor, 0.35) 0%, rgba(@priceColor, 0) 80%);
        }
    }
    &.is-busy {
        &:before {
            background: -webkit-radial-gradient(center, ellipse, rgba(#af733b, 0.35) 0%, rgba(#af733b, 0) 80%);
            background: radial-gradient(ellipse at center, rgba(#af733b, 0.35) 0%, rgba(#af733b, 0) 80%);
        }
    }
    &.is-full-load {
        &:before {
            background: -webkit-radial-gradient(center, ellipse, rgba(#f56c6c, 0.35) 0%, rgba(#f56c6c, 0) 80%);
            background: radial-gradient(ellipse at center, rgba(#f56c6c, 0.35) 0%, rgba(#f56c6c, 0) 80%);
        }
    }
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
