.m-role-form{
    max-width: 800px;
    padding: 10px 0;

    .u-btn {
        .w(180px);
    }

    .u-icon-school{
        .size(28px);
        .y;
    }

    .el-radio{
        padding:8px 10px;
        height:28px;
        box-sizing: content-box;
        .ml(0) !important;
        .mr(20px);
        .mb(10px);
    }
}
