.w-like2 {
    .pointer;
    .dbi;
    .u-icon {
        .size(26px);
        .y;
        .pr;
    }
    .u-count {
        color: #888;
        .ml(10px);
        .pr;
        top: 4px;
    }

    &.disabled {
        .tm(0.5);
        cursor: default;
    }
}
