.m-profile-pwd{

    // max-width:1200px;

    .mt(5vh);

    form{
        max-width:600px;
        .auto(x);
    }

    .u-pic{
        .db;.auto(x);
        .size(120px);
    }

    .u-ac{
        margin:20px auto 10px auto !important;
    }

    .u-pass{
        .i-pass{
            .w(16px);
            .mt(4px);
            fill:#909399;
        }

        .mb(10px);
    }

    .u-button{
        .w(100%);
    }

    .el-alert{
        .mt(10px);
        padding:5px 10px;
    }
}

.m-dashboard-pwd-done{
    .mt(5vh);
    .x;
    .u-icon{
        .size(100px);
        .auto(x);
        .db;
    }
    p{
        margin:20px auto;
        .x;
        .bold;
        .fz(32px);
    }
    .u-button{
        .w(120px);
    }
}