.m-index {
    .mt(60px);
    max-width: 1920px;
    min-width: 1600px;
    height: 11837px;
    background: url("@{kv_yuanqicangyun}bg.jpg") no-repeat;
    background-size: 100% 100%;
    .pr;
    // overflow: hidden;
    margin: 0 auto;
    // logo
    .m-logo {
        .pr;
        .size(226px,242px);
        .lt(60px,120px);
    }
    .m-top-banner {
        // .pr;
        .size(1103px,395px);
        margin: 320px auto;
    }
    .m-equities {
        background: url("@{kv_yuanqicangyun}0top/bg.png") no-repeat;
        background-size: contain;
        background-position: center;
        background-size: auto 939px;
        .h(1329px);
        // .mb(40px);
        .u-box {
            .w(1000px);
            margin: 0 auto;
            .pt(424px);
            .x;
            .u-img {
                .w(634px);
                .mt(54px);
            }

            .u-text-1 {
                .mt(48px);
                .fz(40px,58px);
                .bold(900);
                font-size: 40px;
                letter-spacing: 12px;
                color: rgba(255, 255, 255, 0.8);
            }
            .u-text-2 {
                .fz(30px,44px);
                .bold(900);
                letter-spacing: 22px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }

    // 全新门派
    .m-new-sect {
        .h(1310px);
        .pr;
        .m-classify {
            .x;
            .pa;
            top: -232px;
            .w(100%);
            img {
                .w(1414px);
            }
        }
        .u-cylh {
            .pa;
            .z(3);
            .lt(660px,275px);
            .w(calc(100% - 660px));
            object-fit: contain;
        }
        .u-content {
            .pr;
            .size(1151px,749px);
            .lt(238px,400px);
            background: url("@{kv_yuanqicangyun}1menpai/cangyundiban.png") no-repeat;
            background-size: contain;
            .u-mpts {
                .pr;
                .lt(83px,189px);
            }
            .u-text {
                .pr;
                .z(4);
                .lt(83px,210px);
                .w(724px);
                .fz(24px,35px);
                .bold(400);
                letter-spacing: 5px;
                color: rgba(237, 234, 225, 1);
            }
            .u-tg {
                .size(166px);
                .pa;
                .lt(197px,430px);
                cursor: pointer;
            }
            .u-fs {
                .size(166px);
                .pa;
                .lt(505px,430px);
                cursor: pointer;
                .z(6);
            }
        }
    }
}
// 全新秘境

.m-new-secret {
    .pr;
    .mt(80px);
    .x;
    .m-classify {
        .x;
        .pr;
        top: 0;
        .w(100%);
        img {
            .w(1414px);
        }
    }
    .u-top {
        .u-img {
            .mt(50px);
            .mb(100px);
        }
        .u-text {
            margin: 0 auto;
            .w(896px);
            .fz(28px,41px);
            .bold(400);
            .x;
            text-indent: 1.4em;
            letter-spacing: 15px;
            color: rgba(255, 255, 255, 1);
        }
    }
    .u-boss-box {
        .h(1290px);
    }
    .u-boss-list {
        .h(1290px);

        .flex;
        flex-direction: column;
        align-items: center;
        .u-boss-bg {
            .pa;
            .z(0);
            .flex;
            .w(100%);
            .u-left,
            .u-right {
                .pr;
                .h(1290px);
                .w(50%);
                background-repeat: no-repeat;
            }
            .u-left {
                background-position: 140% bottom;
            }
            .u-right {
                background-position: 10% bottom;
            }
        }
        .u-boss-kv {
            .pt(180px);
            .pb(20px);
        }
        .u-boss {
            .dbi;
            .pr;
            .w(1000px);
            .u-boss-img {
                .w(100%);
            }
            .u-left,
            .u-right {
                .pa;
                cursor: pointer;
            }
            .u-left {
                .lt(-80px,320px);
            }
            .u-right {
                .rt(-80px,320px);
                transform: rotateY(180deg);
            }
        }
    }
}
// 全新奇遇
.m-new-encounter {
    .pr;
    .x;
    .h(1900px);
    .mt(240px);
    .m-classify {
        .x;
        .pa;
        top: -390px;
        .w(100%);
        img {
            .w(1414px);
        }
    }
    .u-scqy {
        .pr;
        top: 160px;
    }

    .u-yljs {
        top: 260px;
        background: url("@{kv_yuanqicangyun}3qiyu/jx-3.png") no-repeat;

        .u-left {
            .pa;
            .lt(-82px,-80px);
        }
        .u-right {
            .pr;
            right: -40px;
        }
    }
    .u-gyfy {
        .lt(80px,280px);
        background: url("@{kv_yuanqicangyun}3qiyu/jx-2.png") no-repeat;
        .u-left {
            .pa;
            .rt(-82px,-80px);
        }
        .u-right {
            .pr;
            left: -40px;
        }
    }
    .u-xzcg {
        top: 300px;
        background: url("@{kv_yuanqicangyun}3qiyu/jx-1.png") no-repeat;
        .u-left {
            .pa;
            .lt(-82px,-80px);
        }
        .u-right {
            .pr;
            right: -40px;
        }
    }
    .u-yljs,
    .u-gyfy,
    .u-xzcg {
        .pr;
        background-size: contain;
        .size(709px, 155px);
        margin: 0 auto;
        .u-text {
            .fz(20px,36px);
            .bold(400);
            letter-spacing: 6px;
            color: rgba(255, 255, 255, 1);
        }
    }
    .u-cwqy {
        .pr;
        top: 400px;
    }
    .u-pet-list {
        .pr;
        top: 620px;
        .flex;
        justify-content: space-between;
        .w(1100px);
        margin: 0 auto;
        .u-pet-item {
            .pr;
            .size(286px);
            .u-tips-img {
                .pa;
                .rt(-100px,-40px);
            }
        }
    }
}
// 全新玩法
.m-new-play {
    .pr;
    .x;
    .h(1200px);
    .m-classify {
        .x;
        .pr;
        top: 50px;
        .w(100%);
        img {
            .w(1414px);
        }
    }
    .u-content {
        .flex;
        .w(1300px);
        margin: 0 auto;
        justify-content: center;
        gap: 182px;
        .u-item {
            .w(550px);
            .u-top-img {
                .mb(60px);
            }
            .u-bg-img {
                &:hover {
                    transform: scale(1.1);
                }
            }
            .flex;
            // max-width: 368px;
            flex-direction: column;
            .u-text {
                .mt(28px);
                background: url("@{kv_yuanqicangyun}4wanfa/wz-1.png") no-repeat;
                background-size: contain;
                padding: 35px 20px;
                box-sizing: border-box;
                .fz(16px);
                .bold(400);
                min-height: 318px;
                letter-spacing: 5px;
                color: rgba(237, 234, 225, 1);
            }
        }
    }
}
// 更多精彩
.m-more {
    .pr;
    .x;
    .h(2000px);
    .m-classify {
        .x;
        .pr;
        top: 80px;
        .w(100%);
        img {
            .w(1414px);
        }
    }
    .u-img-list {
        .w(746px);
        .flex;
        flex-direction: column;
        gap: 20px;
        margin: 57px auto;
        img {
            object-fit: contain;
            &:nth-child(1) {
                height: 80px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                height: 72px;
            }

            &:nth-child(4),
            &:nth-child(5) {
                height: 60px;
            }

            &:nth-child(6) {
                height: 80px;
            }
        }
    }
    .u-footer {
        .mt(320px);
    }
}
