.m-main {
    .pb(0);
}
.p-exterior {
    .flex();
    .pr();
    transition: 0.3s all;
    .ml(-10px);
    .u-back__status {
        .none();
    }
    &.fewer {
        .m-left {
            max-width: 411px;
            .m-list {
                max-height: calc(100vh - @header-height - 220px);
            }
            .m-more__list {
                .u-more_col {
                    width: 100%;
                }
            }
        }
        .m-right {
            .pr(80px);
            max-width: calc(100% - 411px);
            .w(calc(100% - 411px));
            overflow: initial;
        }
    }
    &.unfold {
        .pt(120px);
        .u-back__status {
            .db();
            .pa();
            .lt(0,40px);
            .r(30px);
            background: #24292e;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
            padding: 10px 18px;
            .color(white);
            .fz(16px);
            .bold();
            .pointer();
        }
        .m-left {
            max-width: 0;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
        }
        .m-right {
            .pr(80px);
            .w(100%);
            .pb(40px);
            max-width: 100%;
            .m-info {
                .ml(0);
                .m-info__scroll {
                    max-height: initial;
                    overflow: initial !important;
                }
            }
            .m-action {
                .m-close {
                    .none();
                }
                .m-quick {
                    .mt(0);
                    .u-unfold {
                        .none();
                    }
                }
            }
        }
    }
    .m-common-toolbar {
        .m-toolbar-box {
            box-shadow: 0px 0px 10px 0px rgba(218, 128, 41, 0.3);
        }
        .m-toolbar-item {
            .u-search {
                .u-search-input {
                    input {
                        background-color: #fff7ef;
                        .color(#DA8029);
                        .fz(16px);
                        .bold();
                        &::placeholder {
                            .color(#DA8029);
                            .fz(16px);
                            .bold();
                        }
                    }
                }
                .el-input__icon {
                    .color(#DA8029);
                    .fz(24px);
                }
            }
        }
    }
    .m-left {
        transition: 0.3s all;
        padding: 40px 10px;
        width: 100%;
        .m-list {
            box-shadow: 0px 0px 10px 0px rgba(218, 128, 41, 0.3);
            .r(10px);
            .mt(40px);
            padding: 20px;
            p {
                .po();
            }
            .m-box {
                .r(10px);
                background-color: #fff7ef;
                padding: 20px 20px 0;
                .u-box__title {
                    .color(#DA8029);
                    .fz(16px);
                    .bold();
                }
                .m-new__list {
                    .flex();
                    .pb(20px);
                    .mt(10px);
                    flex-wrap: wrap;
                    gap: 20px;
                    .m-item {
                        .w(154px);
                        .mt(20px);
                        .pointer();
                        .m-item__img {
                            .h(242px);
                            padding: 4px 2px 2px 4px;
                            box-sizing: border-box;
                            background-image: url(../../img/exterior/exterior_border.svg);
                            background-size: 100% 100%;
                            .u-img {
                                .h(100%);
                                background-size: cover;
                            }
                        }
                        .u-title {
                            .mt(10px);
                            .color(white);
                            .fz(14px,28px);
                            .x();
                            background-color: #968b72;
                        }
                    }
                }
                .m-more__list {
                    .pb(20px);
                    .mt(10px);
                    .m-item {
                        .r(10px);
                        .mt(20px);
                        .flex();
                        .flex(y);
                        .pointer();
                        background: rgba(255, 193, 134, 0.3);
                        padding: 11px 13px;
                        box-sizing: border-box;
                        .u-img {
                            .r(5px);
                            .size(38px);
                            background-size: cover;
                            background-position: center;
                        }
                        .u-title {
                            .ml(10px);
                            .fz(16px);
                            .bold();
                            .color(#968b72);
                            .w(calc(100% - 48px));
                            .nobreak();
                        }
                    }
                }
                .m-archive-pages {
                    .x();
                    .pb(40px);
                    li {
                        background-color: white;
                        &:hover {
                            .color(#da8029);
                        }
                        &.active {
                            background-color: #da8029;
                            color: white;
                        }
                    }
                    .btn-prev,
                    .btn-next {
                        background-color: white;
                    }
                }
                .el-empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    box-sizing: border-box;
                    padding: 40px 0;
                    .el-empty__description {
                        .color(#DA8029);
                    }
                }
                &:not(:first-child) {
                    .mt(20px);
                }
            }
        }
    }
    .m-right {
        .mt(40px);
        max-width: 0;
        overflow: hidden;
        align-self: self-start;
        .pr();
        .flex();
        .m-info__scroll {
            max-height: calc(100vh - @header-height - 120px);
        }
        .m-info {
            .ml(30px);
            .r(30px);
            .pr();
            box-sizing: border-box;
            transition: 0.3s all;
            flex-grow: 1;
            padding: 40px;
            .m-info__top {
                .flex();
                .pr();
                .z(1);
                .m-body {
                    .x();
                    .w(22px);
                    .mr(2px);
                    .u-item {
                        .dbi();
                        .color(#958b71);
                        .fz(12px);
                        .mt(4px);
                        .pr();
                        .z(1);
                        .pointer();
                        padding: 4px 2px;
                        border: 1px solid #afa089;
                        &.act {
                            .color(white);
                            &::before {
                                content: "";
                                .db();
                                .pa();
                                .lt(2px);
                                .rb(2px);
                                .z(-1);
                                background: #958b71;
                            }
                        }
                    }
                }
                .m-preview {
                    .w(158px);
                    .h(248px);
                    padding: 5px;
                    box-sizing: border-box;
                    background-image: url(../../img/exterior/exterior_border.svg);
                    background-size: 100% 100%;
                    .u-img {
                        .h(100%);
                        background-size: cover;
                    }
                }
                .m-detail {
                    .ml(30px);
                    .u-name {
                        .po();
                        .color(#886542);
                        .bold();
                        .fz(32px);
                    }
                    .m-info__list {
                        .m-list__ul {
                            .mt(10px);
                            .flex();
                            gap: 10px;
                            .m-list__li {
                                .fz(14px,26px);
                                .flex();
                                background-color: white;
                                .u-title {
                                    padding: 0 4px;
                                    background-color: #886542;
                                    .color(white);
                                }
                                .u-value {
                                    padding: 0 10px;
                                }
                            }
                            &:last-child {
                                .mt(40px);
                            }
                        }
                    }
                    .m-goods {
                        .mt(10px);
                        .flex();
                        gap: 10px;
                        .m-item {
                            border: 1px solid #886542;
                            padding: 3px;
                            .u-img {
                                .size(48px);
                            }
                        }
                        .u-gap {
                            margin: 0 10px;
                            border-left: 1px solid #886542;
                            .color(#886542);
                            .pl(20px);
                            .flex();
                            .item(o);
                        }
                    }
                }
            }
            .m-info__bottom {
                .w(100%);
                .auto(x);
                .pr();
                .z(1);
                max-width: 798px;
                .m-info__title {
                    .flex();
                    .item(y);
                    .mt(60px);
                    .u-title {
                        .pr();
                        .z(1);
                        .pr();
                        .color(#958b71);
                        margin: 0 10px;
                        padding: 9px 19px;
                        border: 1px solid #958b71;
                        &::before {
                            content: "";
                            .db();
                            .pa();
                            .lt(4px);
                            .rb(4px);
                            .z(-1);
                            background: #fffbf3;
                        }
                    }
                    .u-line {
                        flex-grow: 1;
                        .h(2px);
                        &:first-child {
                            background: linear-gradient(to left, rgba(149, 139, 113, 0.6) 0%, transparent 100%);
                        }
                        &:last-child {
                            background: linear-gradient(to right, rgba(149, 139, 113, 0.6) 0%, transparent 100%);
                        }
                    }
                }
                .u-exterior {
                    .db();
                    .w(100%);
                    .mt(28px);
                }
                .m-trend-chart {
                    .mt(40px);
                }
            }
            &::after {
                content: "";
                .db();
                .pa();
                .lt(0);
                .z(0);
                .size(100%,100%);
                .r(30px);
            }
            &.info-bg1 {
                &::after {
                    background-image: url(../../img/exterior/bg/bg1.png);
                    background-size: cover;
                    background-position: center;
                }
            }
            &.info-bg2 {
                &::after {
                    background-image: url(../../img/exterior/bg/bg2.png);
                    background-size: 80%;
                    background-position: right 80px;
                    background-repeat: no-repeat;
                    opacity: 0.2;
                }
            }
            &.info-bg3 {
                &::after {
                    background-image: url(../../img/exterior/bg/bg3.png);
                    opacity: 0.2;
                }
            }
        }
        .m-action {
            .w(40px);
            .pa();
            // .rt(40px,calc(@header-height + 40px));
            .rt(0);
            .u-action {
                .size(40px);
                .flex();
                .flex(o);
                .pointer();
                .r(50%);
                .pr();
                .m-img__pr {
                    .pr();
                    .size(20px);
                }
                .u-img {
                    .size(20px);
                    .db();
                    transition: 0.3s all;
                    &.u-img__hover {
                        .pa();
                        .lt(50%);
                        transform: translateX(-50%) translateY(-50%);
                        opacity: 0;
                    }
                }
                .u-img__fill {
                    .pa();
                    .lt(50%);
                    transform: translateX(-50%) translateY(-50%);
                    padding: 10px;
                    .r(50%);
                }
                &.u-close {
                }
                &.u-like {
                    background: #ff4365;
                    box-shadow: 0px 0px 10px 0px rgba(255, 67, 101, 0.3);
                    flex-wrap: wrap;
                    .u-text {
                        .color(white);
                        .fz(11px,1);
                        .bold();
                        .w(100%);
                        .x();
                    }
                    .u-img__fill {
                        background: #ff4365;
                        opacity: 0;
                    }
                    &:hover {
                        .u-img__fill {
                            opacity: 1;
                        }
                    }
                }
                &.u-bag {
                    background: #da8029;
                    box-shadow: 0px 0px 10px 0px rgba(218, 128, 41, 0.3);
                }
                &.u-wbl {
                    background: #ffdb5a;
                    box-shadow: 0px 0px 10px 0px rgba(255, 219, 90, 0.4);
                }
                &.u-unfold {
                    background: #2aa7af;
                    box-shadow: 0px 0px 10px 0px rgba(42, 167, 175, 0.3);
                }
                &:not(:first-child) {
                    .mt(10px);
                }
                &:hover {
                    .u-img.u-img__hover {
                        opacity: 1;
                    }
                }
            }
            .m-quick {
                .mt(30px);
            }
            .m-change_bg {
                .mt(125px);
                padding: 0 10px;
                .u-change__btn {
                    .size(20px);
                    .flex();
                    .flex(o);
                    .pointer();
                    .r(50%);
                    .pr();
                    box-sizing: border-box;
                    background-color: white;
                    border: 1px solid #886542;
                    transition: 0.3s all;
                    .u-img {
                        .size(14px);
                    }
                    &::after {
                        content: "";
                        .db();
                        .pa();
                        .r(50%);
                        .size(28px);
                        border: 1px solid transparent;
                        transition: 0.3s all;
                    }
                    &:hover,
                    &.act {
                        background-color: #886542;
                        .u-img {
                            filter: brightness(0) invert(1);
                        }
                        &::after {
                            border-color: #886542;
                        }
                    }
                    &:not(:first-child) {
                        .mt(20px);
                    }
                }
            }
            .m-change_color {
                .mt(200px);
                padding: 0 10px;
                .u-change__btn {
                    .size(20px);
                    .r(50%);
                    .pr();
                    .pointer();
                    &::after {
                        content: "";
                        .db();
                        .pa();
                        .r(50%);
                        .size(28px);
                        .lt(-5px);
                        border: 1px solid transparent;
                        transition: 0.3s all;
                    }
                    &:not(:first-child) {
                        .mt(20px);
                    }
                    &:hover,
                    &.act {
                        &::after {
                            border-color: #886542;
                        }
                    }
                }
            }
        }
        .color1 {
            background: linear-gradient(180deg, #fe9991 -122.92%, #ffd5bc 67%);
            &.m-info,
            &.u-close {
                background: var(
                    --Pink,
                    linear-gradient(0deg, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0.46) 100%),
                    linear-gradient(180deg, #fe9991 -122.92%, #ffd5bc 67%)
                );
                box-shadow: 0px 0px 10px 0px #ffe3d7;
            }
        }
        .color2 {
            background: linear-gradient(180deg, #2aa7af -17.5%, #ffd5bc 182.5%);
            &.m-info,
            &.u-close {
                background: var(
                    --sky,
                    linear-gradient(0deg, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0.46) 100%),
                    linear-gradient(148deg, #2aa7af -38.94%, #ffeadd 63.95%)
                );
                box-shadow: 0px 0px 10px 0px #cde4e2;
            }
        }
        .color3 {
            background: linear-gradient(171deg, #ffdb5a -4.09%, #ffd5bc 95.63%);
            &.m-info,
            &.u-close {
                background: var(
                    --orange,
                    linear-gradient(0deg, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0.46) 100%),
                    linear-gradient(168deg, #da8029 -19.42%, #da8029 -19.41%, #ffe7c3 64.17%)
                );
                box-shadow: 0px 0px 10px 0px #f5d5b3;
            }
        }
    }
    .m-list,
    .m-right .m-info__scroll {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .u-filter {
        svg {
            fill: #949494;
            .mt(5px);
            .r(50%);
            &:hover {
                background-color: #fff7ef;
                fill: #da8029 !important;
            }
        }
    }
}
.u-filter {
    .el-button,
    .el-checkbox-button__inner,
    .el-radio-button__inner {
        // margin: 0 10px 0 10px;
        .db;
        .r(30px) !important;
        border: 1px solid #dcdfe6;
        background-color: #e1dfdf;
        &:hover {
            color: #da8029;
            background-color: #fff7ef;
            border-color: #fff7ef;
        }
    }
    .el-radio-button__orig-radio:checked + .el-radio-button__inner {
        background-color: #fff7ef;
        border-color: #fff7ef;
        color: #da8029;
        box-shadow: none;
    }
    .el-checkbox-button__inner {
        white-space: nowrap;
        transition: 0.3s ease-out;
        &:hover {
            background-color: #fff7ef;
            color: #da8029;
        }
    }
    &.is-active {
        .el-checkbox-button__inner {
            border-color: #fff7ef;
            background-color: #fff7ef;
            color: #da8029;
        }
    }
}
.m-common-filter {
    max-width: 360px;

    .el-radio-group {
        .flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .u-filter {
        .mb(10px);
    }
}

// 平板
@media screen and (max-width: 1133px) {
}
// 手机
@media screen and (max-width: 768px) {
    .p-exterior .m-left .m-list .m-box .m-new__list .m-item {
        margin: 0 auto;
    }
    .p-exterior {
        .m-right {
            .flex();
            .mt(0);
            flex-direction: column-reverse;
            padding-right: 0 !important;
            .m-info {
                .m-info__top {
                    .db();
                    .m-detail {
                        .ml(0);
                        .m-goods {
                            flex-wrap: wrap;
                        }
                    }
                }
            }
            .m-action {
                .ps();
                .w(100%);
                .mb(30px);

                .m-quick {
                    .flex();
                    justify-content: center;
                    .u-action {
                        &:not(:first-child) {
                            .mt(0);
                            .ml(20px);
                        }
                    }
                }
                .m-change_bg,
                .m-change_color {
                    .mt(30px);
                    .flex();
                    justify-content: center;
                    .u-change__btn {
                        &:not(:first-child) {
                            .mt(0);
                            .ml(40px);
                        }
                    }
                }
            }
        }
    }
}
