.m-fb {
    padding: 20px 30px;
    .pr;
}
@media screen and (max-width: @ipad) {
    .m-fb {
        padding: 10px 20px;
    }
}
@media screen and (max-width: @phone) {
    .m-fb {
        padding: 10px 15px;
    }

    .wechat-miniprogram {
        .c-breadcrumb {
            position: sticky;
            top: 0;
        }

        .c-main {
            margin-top: 0;
        }

        .c-sidebar-left,.c-sidebar-right {
            top: 48px;
        }
    }
}

.el-tabs--card {
    .el-tabs__item {
        background-color: @bg-light;
        border-bottom: 1px solid @border !important;

        &.is-active {
            border-bottom: none !important;
            background-color: #fff;
            .bold;
        }
    }
}

// 为空
.m-archive-null {
    margin-top: 10px;
}

// 分页
.m-archive-pages {
    overflow-x: auto;
}
