.m-fb-attr{
    .mb(20px);

    a{
        .db;
        .fz(14px);
        padding:8px 0;
    }

    ul{
        .clearfix;
        .mt(40px);
        padding:0;
        margin:0;
    }

    li{
        list-style: none;
        .w(200px);
        .fl;
        &:hover{
            background-color:#f5f7fa;
            .bold;
        }
    }

    img{
        .y;
        .size(24px);
        .mr(5px);
        .r(2px);
    }

    .u-desc{
        .fz(14px);
        margin-bottom: 10px;
    }

    span{
        color:#999;
        .fz(12px);
        .ml(5px);
        &:before{
            content:'[';
            .mr(2px);
        }
        &:after{
            content:']';
            .ml(2px);
        }
    }
}