.m-cj-item{
    background-color:@bg-light;
    border:1px solid #eee;
    .r(4px);
    .mb(20px);
    .db;
    padding:10px;
    .clearfix;

    .u-icon{
        .r(4px);
        .fl;
        .mr(10px);
        .size(48px);
    }

    .u-title{
        .fz(14px,2);
        .db;
    }

    .u-desc{
        color:#555;
        .db;
        .fz(12px);
    }

    transition:0.06s border ease-in-out;
    &:hover{
        border-color:@primary;
    }

    .pr;
    .u-point{
        .pa;.rt(10px);
        .fz(13px,18px);
        color:#555;
        font-style:normal;
        img{
            .size(18px);
            .fl;
            .mr(2px);
        }
    }
}