// 旧版
.u-drop-item-header {
    border-bottom: 1px solid #eee;
    .fz(15px, 32px);
    .bold;
    img {
        .size(32px);
        .mr(10px);
        .y(top);
    }
    padding-bottom: 5px;
    .mb(5px);
    color: @bg-black;
}

.u-drop-item-meta {
    .fz(12px, 2);

    &.isprop{
        color:#01c79d;
    }
    &.isscore{
        color:#f93;
    }
    &.isprewrap{
        white-space: pre-wrap;
    }
}
