.m-fb-story{
    color:@color;
    .lh(1.8);
    
    .u-fb{
        padding:20px;
    }
    .u-boss{
        // .w(50%);
        // .dbi;.y(top);
        box-sizing: border-box;
        padding:10px;
    }
    .u-boss-icon{
        .size(16px);
        .y(-2px);
    }

    .clearfix;

    .u-boss-skills{
        border:1px dashed #ddd;
        padding:20px;
        .mt(10px);
        background-color:@bg-light;
        .u-skill-name{margin:0 0 10px 0;}
        .u-skill-desc{margin:0 0 20px 0;}
    }
}
@media screen and (max-width:@phone){
    .m-fb-story{
        .u-boss{
            .w(100%);
        }
    }
}
.m-fb-map{
    .u-map{
        .db;.auto(x);
    }
}