.m-index {
    .pr;
    .w(100%);
    .auto(x);

    width: 1908px;

    img {
        .db();
        user-select: none;
    }

    .m-top {
        .mt(60px);
    }

    .m-excessive {
        .pa;
        .flex;
        .z(3);
        top: 846px;
        overflow: hidden;

        .u-img-line {
            .pa;
            .z(4);
            top: 173px;
        }
    }

    .m-two {
        .pr;
        .h(1073px);
        .u-switch {
            z-index: 10;
            .pa;
            .lt(500px, 460px);
            .flex;
            flex-direction: column;

            .u-round {
                .pointer;
                z-index: 10;
                .size(16px);
                border: 4px solid #fff;
                .r(50%);
                background-color: transparent;
                .mb(16px);

                &.solid {
                    background: #fff;
                }
            }
        }
        .el-carousel__indicators {
            display: none;
        }
    }

    .m-excessive2 {
        .pa;
        .z(3);
        top: 1784px;
    }

    .m-three {
        .h(705px);
        background: #32425a;
        .flex;
        align-items: center;
        flex-direction: column;
        .mt(110px);
        .pt(20px);

        .u-main-box {
            .dbi;
            .size(760px, 460px);
            background: #fff;
            border: 1px solid #000;

            .u-video {
                width: 100%;
                height: 100%;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .u-five-box {
            .flex;
            gap: 10px;
            .mt(10px);

            .u-item-box {
                .size(115px, 86.25px);
                cursor: pointer;
                border: 2px solid transparent;

                &-active {
                    border: 2px solid #859cad;
                }
            }
        }

        .u-img {
            .h(100%);
            object-fit: cover;
        }
    }

    .m-excessive3 {
        .pa;
        top: 2960px;
    }

    .m-four {
        .h(300px);
        .flex;
        justify-content: center;
        align-items: center;
        background: #b6c6df;

        > img {
            height: 167px;
        }
    }
}

/* 控制整个滚动条 */
::-webkit-scrollbar {
    .size(12px);
}

/* 控制滚动条轨道 */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* 颜色和样式 */
}

/* 控制滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #888; /* 滑块颜色 */
}

/* 控制滚动条滑块hover效果 */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* 滑块hover颜色 */
}
