@phone:720px;    //手机
@ip5:374px;     //iphone5超小屏
.c-talent2-box {
    position: relative;
    background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    min-height: 525px;
    width: 772px;

    &.webview {
        background: none;
        width: 100vw;
        height: unset;

        .c-talent2-header, .c-talent2-footer {
            display: none;
        }
        .c-talent2-content {
            margin: 15px;
            background-position: center;
            border: 2px solid #fff;
        }


        .c-talent2-main {
            flex-direction: column;
        }

        .c-talent2-left, .c-talent2-right {
            width: unset;
            flex: 1;
        }
    }
}

.c-talent2-main {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.c-talent2-left {
    width: 50%;
    flex: auto;
}
.c-talent2-right {
    width: 50%;
    flex: auto;
}

.c-talent2-surplus {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 45px;
}
.c-talent2-actions {
    position: absolute;
    right: 30px;
    bottom: 30px;

    &-btn {
        color: #fff;
        border: none;
        padding: 5px 25px;
        background-image: linear-gradient(to bottom, #898B8A 50%, #595B5A 50%);
    }
}

.c-talent2-header {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    top: 12px;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px black;
}

.c-talent2-title{
    text-align: center;
    margin:5px 0 0 0;
    padding:0;
    font-weight: 400;
}

.c-talent2-footer{
    font-size: 14px;
    position: absolute;
    right: 18px;
    bottom: 14px;
    a{
        color:#8bc7ac;
        &:hover{
            color: #c0f974;
        }
    }

    &.is-single {
        bottom: 22px;
    }
}

.c-talent2-group {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 16px;

    background-image: url('./img/title_bg.png');
    background-repeat: no-repeat;
    background-position: left bottom;

    transform: rotate(90deg) translateY(150px) translateX(135px);

    &-icon {
        width: 30px;
        transform: rotate(-90deg);
    }

    &-count {
        display: inline-block;
        position: absolute;
        left: 48px;
        bottom: -2px;
        text-align: center;
        width: 20px;
        font-size: 14px;
        margin-right: 8px;
        color: #fff;

        background-image: url('./img/count_bg.png');
        background-repeat: no-repeat;

        transform: rotate(-90deg);
        left: 36px;
        bottom: 18px;
    }

    &-name {
        color: #F3F50A;
        font-size: 15px;
        margin-left: 35px;

        transform: rotate(-90deg);
        writing-mode: vertical-rl;
    }
}

.c-talent2-content {
    display: grid;
    padding: 12px 24px;
    height: 76%;
    margin: 0 15px;
    margin-top: 82px;

    background-repeat: no-repeat;
    background-size: cover;

    &-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        padding: 0 12px;

        position: relative;
        top: -32px;
        left: 16px;

        &-disabled {
            cursor: not-allowed;
        }
    }

    &-item {
        display: inline-block;
        position: relative;
        cursor: default;

        &:hover {
            border-color: burlywood;
        }

        .c-talent2-talent {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 52px;
                height: 52px;
                background-image: url('./img/skill_bg.png');
                z-index: 6;
                left: -1px;
                top: -2px;
            }

        }
        .talent-img {
            height: 48px;
            width: 48px;
            border-radius: 48px;
            transform: scale(0.95);
        }

        .skill-img {
            border-radius: 0!important;
        }

        .c-talent2-unselected {
            &::before {
                content: '';
                position: absolute;
                height: 48px;
                width: 48px;
                border-radius: 48px;
                background: rgba(0,0,0,0.5);
                z-index: 10;
            }
        }
        .c-talent2-skill-unselected {
            &::before {
                transition: opacity 0.2s linear;
                content: '';
                position: absolute;
                height: 48px;
                width: 48px;
                border-radius: 6px;
                background-color: rgba(0,0,0,0.5);
                z-index: 10;
                opacity: 1;
            }
        }
        .is-add {
            transition: opacity 0.2s linear;
            position: absolute;
            height: 48px;
            width: 48px;
            border-radius: 48px;
            background-color: rgba(0,0,0,0.5);
            z-index: 11;
        }
        .is-add-skill {
            transition: opacity 0.2s linear;
            position: absolute;
            height: 48px;
            width: 48px;
            border-radius: 6px;
            background-color: rgba(0,0,0,0.5);
            z-index: 11;
        }

        &-empty {
            visibility: hidden;
        }

        &-count {
            position: absolute;
            width: 20px;
            background-image: url('./img/count_bg.png');
            background-repeat: no-repeat;
            text-align: center;
            right: -6px;
            bottom: 0;
            z-index: 11;

            color: #F89403;
        }

        &-count-under {
            color: #02FA02;
        }

        &-relate {
            position: absolute;
            font-size: 24px;
            bottom: -12px;
        }

        &-skill {
            border-radius: 5px;
        }
    }
    .c-talent2-content-item {
        user-select: none;
    }

    .c-talent2-pretab {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 34px;
            height: 26px;
            top: -16px;
            left: 7px;
            background-image: url('./img/next_bg.png');
            z-index: 203;
        }
    }

    // pop
    @name: #ff0;
    .c-talent2-pop {
        position: absolute;
        bottom: calc(100% + 3px);
        left: -2px;
        background-color: rgba(0,0,0,.8);
        margin-left: 4px;
        border-radius: 3px;
        padding: 10px;
        width: 320px;
        max-width: none;
        z-index: 999;

        display: none;

        * {
            display: block;
            white-space: normal;
            word-wrap: break-word;
            word-break: break-all;
        }

        .c-talent2-name {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            line-height: 2;
            color: @name;

            .c-talent2-number {
                color: #859293;
                font-size: 14px;
                font-weight: normal;
            }

            .u-talent2-id {
                font-size: 12px;
                color: #52eded;
                display: inline;
                font-weight: normal;
                margin-left: 3px;
            }
        }
        .c-talent2-type {
            color: #fff;
            font-size: 13px;
            line-height: 20px;
        }
        .c-talent2-desc {
            font-size: 12px;
            line-height: 20px;
            color: @name;
        }
        .c-talent2-pop-max {
            color: #fff;
            font-size: 12px;
            margin-top: 5px;
        }
        .c-talent2-desc-next {
            line-height: 2;
            color: @name;
            font-size: 12px;
            .c-next-text {
                display: inline-block;
                font-size: 13px;
                color: #fff;
            }
        }
    }
    .on {
        display: block;
    }
}

.is-single {
    .c-talent2-content-row {
        grid-template-columns: repeat(5, 1fr);
        padding: 0 96px;
        top: unset;
        left: unset;
    }

    .c-talent2-group {
        transform: unset;

        .c-talent2-group-icon {
            transform: unset;
        }

        &-count {
            transform: unset;
            left: 40px;
            bottom: -5px;
        }

        &-name {
            transform: unset;
            writing-mode: unset;
        }
    }
}
