@base: 1px;

body {
    background-color: #fff;
}

.m-index {
    .flex;
    .clip;
    .auto(x);
    .pr;
    user-select: none;
    max-width: 1920px;
    align-items: center;
    flex-direction: column;
    background: url("@{kv_riyuemingzun}/p0/rainbow.png") no-repeat;
    background-size: 100%;
    background-position: 0 1700px;
}

// 顶部
.m-top {
    .mt(64px);
    .pr;
    .size(100%, 800px);
    user-select: none;
    background: url("@{kv_riyuemingzun}/p0/top.png") top center no-repeat;
    background-size: 100%;
}

// 全新内容
.m-one {
    .size(100%, 990px);
    .pr;
    .flex;
    .pt(168px);
    justify-content: center;
    box-sizing: border-box;

    .u-title {
        .size(410px, 318px);
        .mt(120px);
        background: url("@{kv_riyuemingzun}/p1/p1-title.png") center no-repeat;

    }

    .m-nav {
        .flex;
        justify-content: center;

        .u-nav {
            .size(120px, 560px);
            .mr(10px);
            .pointer;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;

            &:hover {
                scale: 1.05;
            }
        }
    }


}

//技改
.m-two {
    .size(100%, 990px);
    .pr;
    .flex;
    justify-content: center;

    .m-skill {
        .pr;
        .size(1440px, 660px);
        background: url("@{kv_riyuemingzun}/p2/p2-bg1.png") no-repeat,
        url("@{kv_riyuemingzun}/p2/p2-bg2.png") no-repeat,
        url("@{kv_riyuemingzun}/p2/p2-title.png") no-repeat;
        background-position: 0 0, 0 533px, 764px 0;

        .u-button {
            .size(449px, 116px);
            .pa;
            right: 0;
            bottom: 228px;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            background: url("@{kv_riyuemingzun}/p2/p2-button.png") no-repeat;
            background-size: 100%;

            &:hover {
                scale: 1.05;
            }
        }

        .u-text {
            .db;
            .bold;
            color: #fff;
            text-align: center;
            .fz(36px, 116px);
            letter-spacing: 1px;
        }
    }
}

//明教
.m-three {
    .size(100%, 1050px);
    .pr;

    .u-title {
        .size(1440px, 250px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p3/p3-title.png")top center no-repeat;
        .mb(55px);
    }


    .m-mj {
        .size(1440px, 600px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p3/p3-bg1.png")no-repeat;
        .mb(180px);
        .pr;

        .m-content {
            .pa;
            right: 0;
            .size(510px, 100%);
            background: url("@{kv_riyuemingzun}/p3/p3-subtitle1.png")center 30px no-repeat;
            box-sizing: border-box;
            .pt(280px);

            .m-mountGroup {
                .size(500px, 195px);
                .auto(x);
                background: url("@{kv_riyuemingzun}/p3/p3-bg3.png")center center no-repeat;
                .flex;
                justify-content: center;

                .m-xf {
                    .size(45%, 100%);
                    .flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .u-pic {
                        .size(50px);
                    }

                    .u-name {
                        .fz(20px);
                        .bold;
                        color: #E9B96E;
                        .mt(5px);
                        .mb(10px);
                    }
                }
            }

            .m-buttonGroup {
                .size(180px, 25px);
                .flex;
                justify-content: space-between;

                .u-button {
                    .size(80px, 25px);
                    background: #E9B96E;
                    .r(5px);
                    .bold;
                    color: #8B5259;
                    .fz(16px, 25px);
                    text-align: center;
                    .pointer;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;

                    &:hover {
                        scale: 1.05;
                    }
                }

            }
        }
    }

    .u-text {
        .pr;
        .bold;
        .auto(x);
        .mb(20px);
        .w(480px);
        text-align: center;
        .fz(16px);
    }

}

.m-four {
    .size(100%, 600px);
    .pr;

    .m-fb {
        .size(1440px, 600px);
        background: url("@{kv_riyuemingzun}/p3/p3-bg2.png")right no-repeat;
        .auto(x);

        .m-content {
            .size(510px, 100%);
            background: url("@{kv_riyuemingzun}/p3/p3-subtitle2.png")center 30px no-repeat;
            box-sizing: border-box;
            .pt(280px);

            .m-buttonGroup {
                .size(480px, 58px);
                .flex;
                justify-content: space-between;
                .auto(x);

                .u-button {
                    .size(200px, 58px);
                    background: url("@{kv_riyuemingzun}/p3/p3-button.png")no-repeat;
                    .bold;
                    color: #fff;
                    .fz(22px, 54px);
                    letter-spacing: 1px;
                    text-align: center;
                    .pointer;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;

                    &:hover {
                        scale: 1.05;
                    }
                }
            }
        }
    }

    .u-text {
        .pr;
        .bold;
        .auto(x);
        .mb(20px);
        .w(480px);
        text-align: center;
        .fz(16px);
    }
}

//抓马
.m-five {
    .size(100%, 1100px);
    .pr;
    .mt(350px);

    .u-title {
        .size(1440px, 250px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p4/p4-title.png")top center no-repeat;
        .mb(55px);
    }

    .m-content {
        .size(1440px, 720px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p4/p4-bg1.png")top left no-repeat,
        url("@{kv_riyuemingzun}/p4/p4-bg2.png")top right no-repeat;

        .m-tabGroup {
            .size(580px, 50px);
            .auto(x);
            .flex;
            justify-content: space-between;

            .u-tab {
                .size(180px, 50px);
                .pointer;
                opacity: 0.7;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                overflow: hidden;
                .r(5px);

                &:hover {
                    opacity: 1;
                }
            }

            .u-tab-act {
                opacity: 1;
            }

            .u-tab-sys {
                background: url("@{kv_riyuemingzun}/p4/p4-button1.png") no-repeat,
            }

            .u-tab-map {
                background: url("@{kv_riyuemingzun}/p4/p4-button2.png") no-repeat,
            }

            .u-tab-sw {
                background: url("@{kv_riyuemingzun}/p4/p4-button3.png") no-repeat,
            }
        }

        .m-detail {
            .size(780px, 570px);
            .auto(x);

            .u-subTitle {
                .size(100%, 95px);
                .mt(100px);
            }

            .u-mapTitle {
                background: url("@{kv_riyuemingzun}/p4/p4-sub1.png")center no-repeat;
                .mb(40px);
            }

            .u-sysTitle {
                background: url("@{kv_riyuemingzun}/p4/p4-sub2.png")center no-repeat;
                .mb(20px);
            }

            .u-swTitle {
                background: url("@{kv_riyuemingzun}/p4/p4-sub3.png")center no-repeat;
                .mb(85px);
            }

            .u-text {
                .auto(x);
                .h(24px);
                .fz(18px, 24px);
                .bold;
                text-align: center;
            }

            .u-pic {
                .size(700px, 255px);
                .auto(x);
                .mt(40px);
                background: url("@{kv_riyuemingzun}/p4/p4-map.png") no-repeat;
            }

            .m-xy {
                .size(670px, 380px);
                .auto(x);
                background: url("@{kv_riyuemingzun}/p4/p4-text1.png")top left no-repeat,
                url("@{kv_riyuemingzun}/p4/p4-text2.png")top right no-repeat,
                url("@{kv_riyuemingzun}/p4/p4-text3.png")bottom center no-repeat;
            }

            .m-sw {
                .size(680px, 176px);
                .auto(x);
                background: url("@{kv_riyuemingzun}/p4/p4-text4.png")top center no-repeat,
                url("@{kv_riyuemingzun}/p4/p4-text5.png")bottom center no-repeat;
            }

            .u-button {
                .db;
                .pr;
                .size(205px, 48px);
                .auto(x);
                .mt(20px);
                background: url("@{kv_riyuemingzun}/p4/p4-button4.png")no-repeat;

                .u-arrow {
                    .pa;
                    right: 0;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                }

                &:hover {
                    .u-arrow {
                        right: -20px;
                    }
                }
            }



        }
    }

}

//烛龙殿,
.m-six-gap {
    .size(100%, 350px);
    background: url("@{kv_riyuemingzun}/p5/p5-gap.png")top center no-repeat;
}

.m-six {
    .size(100%, 1400px);
    .pr;
    background: url("@{kv_riyuemingzun}/p5/p5-bg2.png")top center no-repeat;


    .u-title {
        .size(1440px, 250px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p5/p5-title.png")top center no-repeat;
        .mb(55px);
    }

    .m-boss {
        .size(1080px, 100px);
        .auto(x);
        .flex;
        overflow: hidden;
        justify-content: space-between;
        .mb(78px);

        .u-profile {
            .size(100px);
            .pr;
            .flex;
            align-items: center;
            justify-content: center;
            .pointer;

            &::after {
                content: '';
                .db;
                .size(20px, 2px);
                .pa;
                top: 50px;
                left: 110px;
                background: url("@{kv_riyuemingzun}/p5/p5-cut.png")center no-repeat;
            }

            .u-icon {
                .size(72px);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }

            &:hover {
                .u-icon {
                    scale: 1.05;
                }
            }
        }

        .u-profile-moon {
            background: url("@{kv_riyuemingzun}/p5/p5-profile.png")center no-repeat;
            background-size: 100%;
        }

        .u-profile-sun {
            background: url("@{kv_riyuemingzun}/p5/p5-profile-full.png")center no-repeat;
            background-size: 100%;
        }

    }

    .m-fb {
        .size(1440px, 720px);
        .auto(x);


        .u-name {
            .size(706px, 245px);
            .ml(35px);
            .mb(22px);
            background: url("@{kv_riyuemingzun}/p5/p5-name.png") no-repeat;
        }

        .u-text {
            .w(570px);
            color: #fff;
            .fz(18px, 20px);
            .mb(34px);
            .ml(43px);
        }

        .m-buttonGroup {
            .size(440px, 58px);
            .flex;
            justify-content: space-between;
            .ml(43px);

            .u-button {
                .size(200px, 100%);
                background: url("@{kv_riyuemingzun}/p3/p3-button.png")no-repeat;
                opacity: 0.6;
                .bold;
                color: #fff;
                .fz(22px, 54px);
                letter-spacing: 1px;
                text-align: center;
                .pointer;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;

                &:hover {
                    opacity: 1;
                }
            }
        }

    }

    .u-bg-all {
        background: url("@{kv_riyuemingzun}/p5/p5-boss.png")right no-repeat;
    }

    .u-bg-hd {
        background: url("@{kv_riyuemingzun}/p5/p5-pic-hd.png")850px top no-repeat;
    }

    .u-bg-sde {
        background: url("@{kv_riyuemingzun}/p5/p5-pic-sde.png")750px top no-repeat;
    }

    .u-bg-zzlr {
        background: url("@{kv_riyuemingzun}/p5/p5-pic-zzlr.png")800px top no-repeat;
    }

    .u-bg-nzls {
        background: url("@{kv_riyuemingzun}/p5/p5-pic-nzls.png")750px top no-repeat;
    }

    .u-bg-qqz {
        background: url("@{kv_riyuemingzun}/p5/p5-pic-qqz.png")850px top no-repeat;
    }

    .u-bg-lx {
        background: url("@{kv_riyuemingzun}/p5/p5-pic-lx.png")750px top no-repeat;
    }

    .u-bg-wmg {
        background: url("@{kv_riyuemingzun}/p5/p5-pic-wmg.png")800px top no-repeat;
    }
}

//南诏皇宫
.m-seven {
    .size(100%, 1360px);
    .pr;
    background: url("@{kv_riyuemingzun}/p5/p5-bg2.png")center -1400px no-repeat;


    .u-title {
        .size(1440px, 250px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p6/p6-title.png")top center no-repeat;
        .mb(92px);
    }

    .m-content {
        .size(920px, 800px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p6/p6-bg1.png")top center no-repeat;
    }
}

//竞技
.m-eight {
    .size(100%, 1450px);
    .pr;
    background: url("@{kv_riyuemingzun}/p7/p7-bg1.png")center top no-repeat,
    url("@{kv_riyuemingzun}/p7/p7-bg3.png")center 1100px no-repeat;

    .u-title {
        .size(1440px, 250px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p7/p7-title.png")top center no-repeat;
        .mb(44px);
    }

    .m-content {
        .size(100%, 1100px);
        background: url("@{kv_riyuemingzun}/p7/p7-bg2.png")center top no-repeat,
    }
}

//红尘
.m-nine {
    .size(100%, 1100px);
    .pr;
    background: url("@{kv_riyuemingzun}/p8/p8-bg1.png")center top no-repeat;

    .u-title {
        .size(1440px, 250px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p8/p8-title.png")top center no-repeat;
        .mb(54px);
    }

    .m-content {
        .size(815px, 710px);
        .auto(x);
        background: url("@{kv_riyuemingzun}/p8/p8-bg2.png")top center no-repeat;
    }
}

//二维码
.m-qrcode {
    .size(100%, 400px);
    .flex;
    align-items: center;
    justify-content: center;
}

@media screen and (orientation: portrait) {
    .m-top {
        .h(400px);
    }

    .m-one {
        flex-direction: column;
        align-items: center;
        .pt(0);

        .u-title {
            .mt(0);
        }

        .m-nav {
            max-width: 100%;
        }
    }

    .m-two {
        align-items: center;

        .m-skill {
            .size(100%, 850px);
            background:url("@{kv_riyuemingzun}/p2/p2-title.png")top center no-repeat,
            url("@{kv_riyuemingzun}/p2/p2-bg1.png")center 189px no-repeat,
            url("@{kv_riyuemingzun}/p2/p2-bg2.png")bottom center no-repeat;

        }
    }

    .m-three {
        .h(auto);

        .u-title {
            .w(100%);
        }

        .m-mj {
            .size(100%, 1200px);
            background: url("@{kv_riyuemingzun}/p3/p3-bg1.png")center top no-repeat;
            .mb(180px);

            .m-content {
                .w(100%);
                background: url("@{kv_riyuemingzun}/p3/p3-subtitle1.png")center 30px no-repeat;
                .mt(650px);
            }
        }
    }

    .m-four {
        .h(auto);
        .pr;

        .m-fb {
            .size(100%, 1200px);
            background: url("@{kv_riyuemingzun}/p3/p3-bg2.png")center top no-repeat;

            .m-content {
                .w(100%);
                .pa;
                background: url("@{kv_riyuemingzun}/p3/p3-subtitle2.png")center 30px no-repeat;
                box-sizing: border-box;
                .mt(650px);
            }
        }
    }

    .m-five {
        .mt(150px);

        .u-title {
            .w(100%);
        }

        .m-content {
            .w(100%);
            background: none;
        }
    }

    .m-six {
        .u-title {
            .w(100%);
        }

        .m-boss {
            .w(100%);

            .u-profile {
                &::after {
                    display: none;
                }
            }
        }

        .m-fb {
            .w(100%);
        }

        .u-bg-hd {
            background: url(https://img.jx3box.com/topic/riyuemingzun//p5/p5-pic-hd.png) right top no-repeat;
        }

        .u-bg-sde {
            background: url(https://img.jx3box.com/topic/riyuemingzun//p5/p5-pic-sde.png) right top no-repeat;
        }

        .u-bg-zzlr {
            background: url("@{kv_riyuemingzun}/p5/p5-pic-zzlr.png")550px top no-repeat;
        }

        .u-bg-nzls {
            background: url("@{kv_riyuemingzun}/p5/p5-pic-nzls.png")450px top no-repeat;
        }

        .u-bg-qqz {
            background: url("@{kv_riyuemingzun}/p5/p5-pic-qqz.png")right top no-repeat;
        }

        .u-bg-lx {
            background: url("@{kv_riyuemingzun}/p5/p5-pic-lx.png")right top no-repeat;
        }

        .u-bg-wmg {
            background: url("@{kv_riyuemingzun}/p5/p5-pic-wmg.png")550px top no-repeat;
        }
    }

    .m-seven {
        .u-title {
            .w(100%);
        }
    }

    .m-eight {

        .u-title {
            .w(100%);
        }

    }

    .m-nine {
        .u-title {
            .w(100%);
        }
    }
}