.w-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    background-color: @baizhan_tab_bg;
}

.w-card-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 6px;
    color: @baizhan_color;
    .fz(16px, normal);
    font-weight: 700;
}
