.m-page-address {
    .m-content {
        .mt(20px);
        .m-button {
            .flex;
            gap: 20px;
        }
    }
}
.m-address-dialog {
    .m-line {
        .flex;
        .mb(20px);
        gap: 20px;
        .u-address {
            flex: 1;
            flex-shrink: 0;
            min-width: 240px;
        }
    }

    .m-footer {
        .flex;
        .mb(20px);
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .el-dialog__body {
        padding: 20px 30px;
        border-top: 1px solid #eee;
    }
    .el-form--label-top .el-form-item__label {
        padding: 0;
    }
}

.el-popconfirm__action {
    .flex;
    justify-content: flex-end;
}
