.m-boxcoin-in-list{
    .u-count,.u-count > b{
        color:#49c10f !important;
        &.isNegative,&.isNegative > b{
            color: #fba524 !important;
        }
    }
}
.m-boxcoin-tip{
    .mb(20px);
    border:1px solid #fba524;

    a{
        color:#49c10f;
        text-decoration: underline;
    }
    .el-alert__description{
        line-height:1.8;
    }

}

.m-boxcoin-form{
    .u-tip{
        .ml(10px);
        color:#c00;
        .bold;
    }
    .el-radio{
        background-color:#fff;
    }
}

.m-boxcoin-ac{
    .mb(10px);
    .el-alert__description{
        .mt(0);
        .bold;
    }
}

.m-credit-total{
    .u-types{
        .fz(12px);
        // .u-type{
        //     .mr(20px);
        // }
        b{
            color:@color-link;
        }
    }
}
