.m-cert-list {
}
.m-cert-item {
    .pr();
    .mt(20px);
    .r(10px);
    .pointer();
    padding: 24px 18px;
    border: 1px solid #7e91ab;
    background: linear-gradient(180deg, #ffffff 28.24%, #f5f7fa 100%);
    transition: 0.2s all;
    .flex();
    align-items: flex-end;
    .u-img {
        width: 34%;
        .pb(47%);
        background-size: cover;
        background-position: center;
        transition: 0.2s all;
        transform-origin: bottom left;
        border: 1px solid #7e91ab;
    }
    .m-info {
        .w(calc(100% - 40%));
        .pl(10px);
        box-sizing: border-box;
        .pr();
        .u-title {
            .fz(22px);
            .bold();
            .color(#6470a1);
            .mb(10px);
            transition: 0.2s all;
        }
        .u-tip {
            .color(#999999);
            .fz(12px);
            .mt(2px);
        }
    }
    .u-icon {
        .pa();
        .rt(18px,24px);
    }
    &:hover {
        box-shadow: 0 0 10px 0 #e3d29a;
        border-color: #ffc300;
        background: linear-gradient(180deg, #ffffff 25.46%, #fff9de 100%);
        .u-img {
            transform: rotate(-10deg);
        }
        .m-info {
            .u-title {
                .color(#ffbe3b);
            }
        }
    }
    &.tt_item {
        .u-title {
            .color(#A18D58);
        }
        .u-icon {
            .size(65px);
            .rt(18px,18px);
        }
    }
}
.m-cert-pages {
    .pt(20px);
    overflow-x: auto;
    .x;
}

@media screen and (max-width: @ipad-y) {
    .m-cert-item {
        .m-info {
            .u-title {
                .fz(16px);
            }
        }
    }
}
