.m-tip-box{
    border-bottom:1px solid #eee;
    margin-bottom:10px;
}

.m-ic-tip{
    .mt(20px);
    .mb(20px);
    border:1px solid #fba524;
    white-space: pre-line;
}

.m-ic-in-list{
    .u-copy{
        .pointer;
        &:hover{
            color:@color-link;
        }
    }
}
