.m-mall-list {
    overflow: auto;
    table {
        .w(100%);
        border-collapse: collapse;
        .fz(12px,2);
        .x;
    }
    td,
    th {
        border: 1px solid #eee;
        padding:8px 10px;
    }
    th {
        background-color:@bg-gray;
        .bold;
    }
    // td:last-child{
    //     .flex;
    //     gap: 10px;
    //     justify-content: center;
    // }
    .u-title{
        .flex;
        align-items: center;
        gap:3px;
        .pointer;
        &:hover{
            color:@color-link;
        }
    }
    .u-op{
        .flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
}
.m-mall-pages{
    .mt(20px);
    .x;
}

