.m-exam{
    .mt(20px);
    .m-tabs{
        .el-tabs__active-bar{
            background-color:#FF7CAB;
        }
        .el-tabs__item{
            padding: 0 14px;
            &.is-active{
                color: #FF7CAB;
                .fz(15px);
                .bold(700);
            }
        }
    }
}
