.p-book {
    .pt(40px);
    .m-content {
        .u-tips {
            font-size: 14px;
            color: #777;
            letter-spacing: 2px;
        }
    }
    .m-common-tabs {
        background-color: #fff;
        .u-tab {
            transition: 0.3s ease-out;
            &.active,
            &:hover {
                background: #d16400;
                color: #fff;
            }
        }
        .u-search .u-search-input {
            .w(100%);
        }
    }

    .m-book-list {
        .mt(40px);
        .u-type {
            .flex;
            .mb(20px);
            justify-content: space-between;
            align-items: flex-end;
            &.reading {
                .mb(0);
            }
            .u-all {
                cursor: pointer;
                color: #a5a5a5;
                .fz(16px,21px);
            }
            span {
                .fz(14px);
                color: #777;
                letter-spacing: 2px;
                b {
                    .bold;
                    letter-spacing: 0;
                }
            }
        }
        .u-title {
            .fz(28px,42px);
            .bold(700);
            color: #24292e;
        }
        .list {
            margin: 10px 0 0 -10px;
            padding: 10px;
        }
    }
    .m-operate {
        .flex;
        .r(30px);
        align-items: center;
        justify-content: flex-end;
        padding: 3px;
        background-color: #f3f5f6;
        .m-item {
            .fz(13px);
            .x;
            .pointer;
            .r(30px);
            color: #bbb;
            padding: 5px 15px;
            &:hover {
                color: #24292e;
            }
            &.active {
                color: #fff;
                background: #24292e;
            }
        }
    }
    .m-book-list--card,
    .m-book-list--list {
        .w(100%);
        .flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .m-reading-list {
        .flex;
        align-items: center;
        overflow: auto;
        gap: 20px;
        .m-book-card {
            flex-shrink: 0;
        }
    }
    .m-book-list--list {
        .m-book-card {
            box-sizing: border-box;
            .w(100%);
        }
    }
    .m-archive-more {
        .mt(40px);
        .w(100%);
        background-color: #fff;
        &:hover {
            color: #0366d6;
            border-color: #b3d1f3;
            background-color: #e6f0fb;
        }
    }
}

@media screen and (max-width: @phone) {
    .p-book {
        .m-book-list .u-type {
            align-items: center;
        }
        .m-common-tabs .u-tab {
            width: calc(33% - 10px);
            &:first-child {
                .w(100%);
            }
        }
        .m-book-list--card,
        .m-book-list--list {
            .m-book-card {
                width: calc(100% - 40px);
            }
        }
        .m-common-list {
            overflow: auto;
            .m-book-card {
                flex-shrink: 0;
            }
        }
        .m-operate {
            .none;
        }
    }
}
