@footer: 58px;

.m-navigation {
    .clip;
    .pt(64px);
    box-sizing: border-box;
    position: relative;
    background-color: #555090;
    .wp {
        .m-wp-title {
            position: relative;
            .u-wp-bg {
                .pa;
                .size(1600px, 50px);
                box-sizing: border-box;
                left: -160px;
                border-top: 50px solid #000;
                border-left: 50px solid transparent;
                border-right: 50px solid transparent;
                border-bottom: 50px solid transparent;
                z-index: -1;
            }
        }
        .pr;
        .w(100%);
        .auto(x);
        .z(2);
        max-width: 1280px;
    }
    .m-name {
        .pa;
        .lb(50%,70px);
        .fz(16px,40px);
        .x;
        .bold;
        .size(240px,40px);
        .ml(-120px);
        letter-spacing: 2px;
        background-color: #000;
        color: #fff;
    }
    ::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
        padding: 10px 0;
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 6px;
        height: 20px;
    }

    ::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 10px;
        background: #000;
        border: 7px solid #fff;
        transition: color 0.2s ease;
    }
}
.m-dot {
    .full;
    .pa;
    .lt(0);
    background-image: url("@{img}event/dot.png?88");
    animation: right 180s infinite linear;
    min-width: 1600px;
    &::after,
    &::before {
        content: "";
        .db;
        .full;
        background-image: url("@{img}event/dot.png?88");
    }
    &::after {
        transform: translateX(-200%);
    }
    &::before {
        transform: translateX(-100%);
    }
}
@keyframes right {
    form {
        transform: translate(-200%);
    }
    to {
        transform: translate(100%);
    }
}
.m-mark {
    .full;
    .pa;
    .lt(0);
    .rb(0);
    background-color: #000;
    opacity: 0.3;
}
.m-list-scroll {
    .flex;
    .mb(20px);
    padding: 30px 30px 140px 30px;
    overflow-x: auto;
    align-items: center;
    gap: 40px;
    &.isShort {
        justify-content: center;
    }
    .u-item {
        .flex;
        .pointer;
        .size(250px,600px);
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: 0.4s ease-in;
        .u-img {
            .full;
            box-sizing: border-box;
            border: 8px solid #fff;
            img {
                filter: brightness(75%);
            }
            &:hover {
                img {
                    filter: brightness(100%);
                }
            }
        }
        .u-title {
            .pa;
            .w(40px);
            .x;
            .bold;
            .z(2);
            .lb(0);
            .fz(20px);
            .color(#000);
            writing-mode: vertical-rl;
            box-sizing: border-box;
            background-color: #fff;
            padding: 20px 7px;
            letter-spacing: 3px;
        }
        .u-mark {
            .none;
            .full;
            background-color: #000;
        }
        &:hover {
            .u-img {
                .pa;
                .lt(-20px);
                border: 8px solid #fff;
            }
            .u-title {
                .lb(-20px,20px);
                background-color: #fff;
                color: #000;
            }
            .u-mark {
                .db;
            }
        }
    }
}
.m-footer {
    .pa;
    .lb(0,-30px);
    .size(100%,90px);
    .u-left {
        .pa;
        .lb(0);
        .size(515px,663px);
        .z(0);
        background: url("@{img}event/left.png") no-repeat;
        background-size: cover;
    }
    .u-right {
        .pa;
        .rb(0);
        .size(461px,592px);
        .z(0);
        background: url("@{img}event/right.png") no-repeat;
        background-size: cover;
    }
}

.m-events-btn {
    .pf;
    .rt(0, 161px);
    .size(40px, 124px);
    .bold;
    .pointer;
    .fz(20px);
    .z(9);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    letter-spacing: 5px;
    line-height: 40px;
    text-align: center;
    background-color: #ffffff;
    color: #000;
    writing-mode: vertical-rl;
    user-select: none;
    box-shadow: 0 0 0 2px #333;
}
.m-new-list {
    overflow: scroll;
    .size(1280px,799px);
    .scrollbar(0px);
    .r(30px);
    box-sizing: border-box;
    gap: 50px;
    box-shadow: 0 0 0 10px #000;
    background-color: #fff;
    padding: 30px 65px;
    .mb(60px);
    .m-new-list-item {
        .mb(76px);
        .u-month {
            .bold;
            .fz(24px);
            .mb(20px);
            color: #000;
            text-align: center;
        }
        .m-month-list {
            .flex;
            flex-wrap: wrap;
            gap: 50px;
            .u-item {
                .pr;
                .pointer;
                .r(30px);
                .h(180px);
                .mb(50px);
                flex: 1;
                min-width: 350px;

                .u-img {
                    .r(30px);
                    .full;
                    box-shadow: 0 0 0 4px #000;
                    transition: all 0.3s ease-in;
                    &:hover {
                        transform: scale(1.03);
                    }
                }
                .m-name {
                    .pa;
                    .bold;
                    .r(3px);
                    .lb(50%, -50px);
                    .w(350px);
                    .fz(16px, 30px);
                    .h(30px);
                    .ml(-170px); 
                }
            }
        }
    }
}
@media screen and (min-width: @2k) {
    .wp {
        zoom: 1.5;
    }
}
@media screen and(max-width:@ipad) {
    .m-navigation .wp {
        max-width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        .m-list-scroll {
            box-sizing: border-box;
            &.isShort {
                justify-content: flex-start;
            }
        }
    }
    .m-footer {
        .u-left {
            .none;
        }
        .u-right {
            .size(208px,214px);
            background-size: 208px 214px;
        }
    }

    .m-new-list {
        .auto(x);
        width: calc(100% - 20px);
        height: calc(100vh - 358px);
        justify-content: space-between;
    }
}
