.m-common-toolbar {
    box-sizing: border-box;
    .m-toolbar-tool > div {
        .flex;
        .r(10px);
        min-height: 60px;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        padding: 10px 15px;
        margin-bottom: 10px;
        width: 100%;
    }
    .m-toolbar-box {
        .flex;
        .r(10px);
        gap: 10px;
        min-height: 60px;
        align-items: center;
        padding: 0 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .m-toolbar-item {
        .flex;
        gap: 10px;
        &.m-toolbar-search {
            .w(100%);
        }
        .u-item {
            .pr;
            .pointer;
            .size(100px,40px);
            .flex;
            .fz(16px,22px);
            .r(30px);
            .bold;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            color: #949494;
            transition: 0.3s ease-out;

            &.active,
            &:hover {
                color: #fff;
            }
        }
        // search
        .u-search {
            .w(100%);
            min-width: 180px;
            flex: 1;
            .u-search-input input {
                .r(30px);
                .fz(14px,40px);
                .size(100%,40px);
                border: none;
                background-color: #f3f4f5;
                padding: 0 40px 0 20px;
                color: #000;
                &::placeholder {
                    .fz(14px);
                    color: #b0b0b0;
                }
            }
            input[type="text"]::-webkit-input-placeholder {
                .fz(14px);
                color: #b0b0b0;
            }
            .el-input__suffix {
                right: 15px;
            }
            .el-input__icon {
                .bold;
                color: #24292e;
            }
        }
        // select_______
        .u-select {
            .el-input__suffix {
                .none;
            }
            input {
                .r(30px);
            }
        }
        .el-input__prefix {
            .lh(40px);
            padding: 0 10px;
        }
        .el-input__prefix,
        .el-input__suffix {
            color: #b0b0b0;
            &::placeholder {
                color: #b0b0b0;
            }
        }
        .is-focus .el-input__prefix {
            color: #d16400;
        }
        .el-input__inner {
            .pl(60px);
            min-width: 158px;
            box-sizing: border-box;
        }
        .u-filter {
            .pointer;
            .size(40px);
            .r(30px);
            background-color: #fff;
            svg {
                fill: #949494;
            }
            &:hover {
                i {
                    color: #fff;
                }
                svg {
                    fill: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: @ipad) {
    .m-common-toolbar {
        .m-toolbar-tool {
            padding: 0;
        }
        .m-common-toolbar {
            box-shadow: 0 0 0 0;
        }
        .m-toolbar-box {
            padding: 0;
            height: auto;
            flex-direction: column;
            padding: 0;
            box-shadow: 0 0 0 0;
            gap: 10px;
        }
        .m-toolbar-item {
            .flex;
            .r(10px);
            .w(100%);
            box-sizing: border-box;
            flex-wrap: wrap;
            padding: 10px 15px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

@media screen and (max-width: @phone) {
    .m-common-toolbar .m-toolbar-item {
        justify-content: space-between;
        .u-item:first-child {
            .w(100%);
        }
        .u-item {
            width: calc(50% - 10px);
        }
    }
}
