.m-single-thx{
    .mt(40px);
}
@media screen and (max-width:@phone){
    .p-bbs-single .c-breadcrumb .u-op{.db !important;}
}

.m-single-info{
    .u-sub-block {
        .u-topic {
            // background-color: @bg-light;
            // color: #0366d6;
            background:none;
            .mr(0);
            padding:0;
            &::after{
                content:"、";
            }
            &:last-child{
                &::after{
                    content:'';
                }
            }
        }
    }
}

