// IMG PATH
@img: "https://img.jx3box.com/topic/";
@image: "https://img.jx3box.com/image/topic/";
@kv_wanlingdangge: "https://img.jx3box.com/topic/wanlingdangge/";
@kv_qunxiawanbian: "https://img.jx3box.com/topic/qunxiawanbian/";
@kv_riyuemingzun: "https://img.jx3box.com/topic/riyuemingzun/";
@kv_jianhushengong: "https://img.jx3box.com/topic/jianhushengong/";
@kv_hengdaoduanlang: "https://img.jx3box.com/topic/hengdaoduanlang/";
@kv_beitianyaozong: "https://img.jx3box.com/topic/beitianyaozong/";
@kv_cangjianshanzhuang: "https://img.jx3box.com/topic/cangjianshanzhuang/";
@kv_shengdianyunqi: "https://img.jx3box.com/topic/shengdianyunqi/";
@kv_jianghuwuxian: "https://img.jx3box.com/topic/jianghuwuxian/";
@kv_wuduxianshi: "https://img.jx3box.com/topic/wuduxianshi/";
@kv_bashufengyun: "https://img.jx3box.com/topic/bashufengyun/";
@kv_common: "https://img.jx3box.com/topic/common/";
@kv_jianyuxiadao: "https://img.jx3box.com/topic/jianyuxiadao/";
@kv_welcome: "https://img.jx3box.com/topic/welcome/";
@kv_yaoxiujie: "https://img.jx3box.com/topic/yaoxiujie/";
@kv_anshizhiluan: "https://img.jx3box.com/topic/anshizhiluan/";
@kv_xuezhantiance: "https://img.jx3box.com/topic/xuezhantiance/";
@kv_wuhaixunlong: "https://img.jx3box.com/topic/wuhaixunlong/";
@kv_yuanqicangyun: "https://img.jx3box.com/topic/cangxuelongcheng/";
@kv_silufengyu:"https://img.jx3box.com/topic/silufengyu/";
