.u-map-title {
    .fz(28px,42px);
    .bold;
    .mb(20px);
}
.m-pet-map {
    .size(430px,380px);
    .r(10px);
    .fz(14px);
    padding: 20px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    .u-header {
        .fz(20px);
        .bold;
    }
    .m-pet-map-box {
        .mt(20px);
        .size(390px,294px);
        .clip;
        .r(10px);
        .c-map .u-map__inner {
            border: 0;
        }
        .el-carousel__container {
            .h(294px) !important;
        }
    }
}
