.m-bahuang-my {
    .mt(20px);
}

.m-bahuang-list {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .u-list-pagination {
        .mt(20px);
        text-align: center;
    }
}

.m-bahuang-list-item {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 5px;
    .fz(12px, 28px);
    border-bottom: 1px dashed #eee;

    .u-shema-name {
        width: 200px;
        margin-right: 8px;
    }
}

.m-bahuang-drawer {
    .size(100%);
    .pf;
    .rt(0);

    .u-name {
        i {
            .fz(16px);
            color: #888;
            .y(-2px);
            .mr(5px);
        }
    }

    .u-edit {
        cursor: pointer;
        color: @color-link !important;
        .ml(5px);
    }

    .el-drawer {
        min-width: 400px;
    }

    .el-drawer__body {
        overflow-y: auto;
    }

    .m-bahuang-my {
        padding: 0 10px;
    }

    .u-bahuang-title {
        margin: 0;
    }
}

@media screen and (max-width: @phone) {
    .m-bahuang-drawer {
        .el-drawer {
            .w(100%) !important;
            min-width: 0;
        }
    }
}