.m-arr {
    
    .pa;.lt(0);
    .size(100%);
    // .lt(0, 0);
    // .rb(0, 0);
    // box-sizing: border-box;
    // justify-content: space-between;
    // align-items: center;

    .u-arr {
        .pointer;
        background-image: url('@{kv_cangjianshanzhuang}/sect/arr.png');
        background-repeat: no-repeat;
        background-position: center center;
        .size(54px, 105px);
        .pa;
        padding:0 40px;
    }

    .u-prev {
        transform: rotate(180deg) translateY(-50%);
        // transform-origin: 0 0;
        .lt(0,50%);
        margin-top: -40px - 105px;
    }
    .u-next{
        .rt(0,50%);
        transform: translateY(-50%);
        // margin-right: 40px;
        margin-top: -40px;
    }

}