.m-cangjian {
    // .size(1920px, 1080px);
    .pr;
    .auto(x);
    .clip;
    background-image: url('@{kv_cangjianshanzhuang}/sect/bg.jpg');
}

.m-right {
    .pr;
    background-image: url('@{kv_cangjianshanzhuang}/sect/bj.png');
    background-size: cover;
}

.u-logo {
    .size(325px, 214px);
    background-image: url('@{kv_cangjianshanzhuang}/sect/logo.png');
}

.m-leaf,
.m-bg {
    .pa;
    .lt(0, 0);
    .rb(0, 0);
    pointer-events: none;
}

.m-leaf {
    background-image: url('@{kv_cangjianshanzhuang}/sect/leaf.png');
}

img {
    .db;
    .auto(x);
}