.m-index {
    max-width: 1920px;
    min-width: 1374px;
    .auto(x);
    .pr;
}

.m-top,
.m-video,
.m-pve,
.m-pvp,
.m-other,
.m-leaf,
.u-box {
    box-sizing: border-box;
    background-position: center top;
    background-repeat: no-repeat;
}

.u-title,
.u-mohe,
.u-text,
.u-logo {
    .auto(x);
    background-position: center top;
    background-repeat: no-repeat;
}

.m-top {
    .h(1200px);
    background-image: url('@{kv_cangjianshanzhuang}top.jpg');
}

.m-video {
    .h(1300px);
    background-image: url('@{kv_cangjianshanzhuang}bg1.jpg');
}

.m-pve {
    .h(1000px);
    background-image: url('@{kv_cangjianshanzhuang}bg2.jpg');
}

.m-pvp {
    .h(1600px);
    background-image: url('@{kv_cangjianshanzhuang}bg3.jpg');
}

.m-other {
    .h(1600px);
    background-image: url('@{kv_cangjianshanzhuang}bg4.jpg');
}

.m-leaf {
    .pa;
    .lt(0, 930px);
    .z(9);
    .size(100%, 5840px);
    background-image: url('@{kv_cangjianshanzhuang}leaf.png');
    pointer-events: none;
}